body {
  margin: 0;
  margin-top: 30px;
  width: 680px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  font-family: Helvetica;
  text-align: center;
}

body.gray {
  background-color: #505153;
}

body.blue {
  background-color: #46B2E9;
}

body.black {
  background-color: #000;
}

h1 {
  font-size: 38px;
	color: #FFF;
}

body.blue h1 {
/*  color: black;*/
}

body.black h1 {
/*  color: white;*/
}

body.black h2.jail {
  color: #FFF;
}

body.black h2.free {
  color: #818386;
}

body.blue h2.jail {
  color: #444648;
}

body.blue h2.free {
  color: #FFF;
}

#footer {
	position: absolute;
	bottom: 0px;
	width: 680px;
	text-align: center;
	margin: 0 auto;
}

#footer h3 {
	display: inline;
	padding: 0 5px 0 5px;
	font-weight: normal;
	font-size: 14px;
}

body.black #footer h3 {
	color: #CCC;
}

table {
  width: 680px;
}

h2 {
  display:inline;
  font-weight: normal;
}

div.voteresult {
  text-align: center;
  line-height: 40px;
  width: 140px;
}

div.vote {
  width: 680px;
  margin: 0 auto;
  text-align: center;
}

div.container {
  width: 680px;
  margin-top 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

span.vote_counts {
  margin-top: 10px;
  background-color: white;
  font-weight: bold;
  padding: 4px 8px 2px 8px;
  font-size: 24px;
}

div.forms {
  width: 351px;
  margin: 30px auto 0 auto;
}


div.form {
  float:left;
  margin-left: 34px;
}

.selfclear:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.selfclear {
display: inline-block; /* IE 7 */
}

.selfclear {
display: block;
}

* html .selfclear {
height: 1px; /* IE < 7 */
}
