<body class="<%= @vote_count.jail_him > @vote_count.free_him ? "black" : "blue" %>">
  <div class='container'>
    <h1>POLLanski: Jail Him or Free Him?</h1>
  
    <% img = @vote_count.jail_him > @vote_count.free_him ? "jailed.png" : "freed.png" %>
  
    <table>
      <tr>
        <td colspan='2' align='center'>
          <%= image_tag img, :class => "result_img" %>
        </td>
      </tr>
      <tr>
        <td width="50%" align='right'>
          <div class='voteresult'>
            <h2 class='jail'>Jail him!</h2><br />
            <span class='vote_counts'><%= @vote_count.jail_him %> votes</span>
          </div>
        </td>
        <td width="50%" align='left'>
          <div class='voteresult'>
            <h2 class='free'>Free him!</h2><br />
            <span class='vote_counts'><%= @vote_count.free_him %> votes</span>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div id='footer'>
    about | contact
  </div>
</body>