<html xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <title>
      Roman Polanski: Jail him or Free him
    </title>
    
    <%= stylesheet_link_tag 'app.css' %>
    <!--[if lte IE 6]><%= stylesheet_link_tag 'ie6.css' %><![endif]-->
    
    <%= javascript_include_tag :defaults %>
  </head>

  <%= yield %>
  
</html>

